<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.language.entity.LanguageMapper">
<resultMap id="languageResultMap" type="com.language.entity.Language">
    <id property="languageId" column="language_id"/>
    <result property="lastUpdate" column="last_update" />
    <!-- 나머지 매핑 정의 -->
</resultMap>
	<!-- CRUD쿼리문 -->
    <!-- language_id를 읽기 -->
    <select id="getLanguageById" parameterType="int" resultType="com.language.entity.Language">
        SELECT * FROM language WHERE language_id = #{id}
    </select>

    <!-- 읽기 -->
    <select id="getAllLanguages" resultType="com.language.entity.Language">
        SELECT * FROM language
    </select>

    <!-- 생성 -->
    <insert id="insertLanguage" parameterType="com.language.entity.Language">
        INSERT INTO language (name,last_update) VALUES (#{name},#{last_update})
    </insert>

    <!-- 갱신 -->
    <update id="updateLanguage" parameterType="com.language.entity.Language">
        UPDATE language SET name = #{name} WHERE language_id = #{languageId}
    </update>

    <!-- 삭제 -->
    <delete id="deleteLanguage" parameterType="int">
        DELETE FROM language WHERE language_id = #{id}
    </delete>
</mapper>