<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!-- MyBatis 설정 옵션 -->
    
    <!-- 데이터베이스 연결 정보 설정 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <!-- 데이터베이스 연결 정보 설정 -->
                <!-- MySQL JDBC 드라이버 클래스 -->
                <property name="driver" value="com.mysql.cj.jdbc.Driver" />
                <!-- MySQL 데이터베이스 연결 URL -->
                <property name="url" value="jdbc:mysql://localhost:3306/sakila?useSSL=false&amp;serverTimezone=UTC" />
                <property name="username" value="root" />
                <property name="password" value="1234" />
            </dataSource>
        </environment>
    </environments>
    <!-- 매퍼 경로 설정 -->
    <mappers>
    
        <mapper resource="mapper/LanguageMapper.xml" />
        <!-- 다른 매퍼 파일 추가 가능 -->
    </mappers>
</configuration>